/* Style sheet for My Portfolio - Assessment */

/* font styles and icons library */
<script src="https://use.fontawesome.com/87cca5b32c.js"></script>

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body-size{
  min-width: 350px;
  min-height: 1000px;
}
.bkgrd-img {
  background: url(main-bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
/* this is what make the background image resize based on screen  size */
  overflow: hidden;
}

/* Nav Bar Section */

.nav-section {
  width: 100%;
  height: 75px;
  position: relative;
}
.spacer {
  width: calc(100% - 290px);
  position: absolute;
  top: 15px;
  left: 115px;
  float: left;
}
.full-nav-menu {
  display: none;
  width: 100%;
  height: 75px;
  position: absolute;
}
.menu-position {
  float: left;
  margin: 0 13%;
  padding: 29px 0;
}
.menu-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 100px;
  float: left;
}
.social-icons {
  position: absolute;
  top: 10px;
  right: 25px;
  width: 150px;
}
.menu-img {
  width: 50px;
}
.nav-img {
  width: 25px;
  margin: 15px 25px;
  float: left;
}

/* Main Body Styling */

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* Bottom section of page view */

.bottom-nav {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  width: 50px;
}

/* font information */

.font-color {
  color: white;
}
.lg-font {
  font-size: 108px;
  text-align: center;
}
.sm-font-caps {
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
}
.menu-font {
  font-size: 22px;
}



/* media queries for size modification begin */

@media (min-width: 750px) {
    .full-nav-menu {
      display: block;
    }
    .nav-img {
      display: none;
    }
    .menu-img {
      display: none;
    }
}
